main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 48px 0;
}

.list-wrapper h1 {
  text-align: center;
}

.list {
  gap: 8px;
  display: flex;
  flex-direction: column;
}
