@import url("./css/normalize.css");
@import url("./css/reset.css");

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
