.auth-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    width: 400px;
}

.auth-form > input {
    width: inherit;
    height: 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.auth-form > button {
    width: inherit;
    height: 30px;
}

