.header{
    justify-content: center;
    margin: 1em;
}
.container{
    justify-content: center;
}
.search-area{
    display: flex;
    justify-content: center;
}

.search-area i {
    margin: 1em
}

.menus{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid gray;
    border-bottom: 4px double gray;
}

.menus button{
    margin: 0.1em;
    border:none;
    width:120px;
    font-size: 20px;
}

.menus button:hover{
    background-color: beige;
}

.weather-board{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    border-bottom: 1px solid gray;
}

.workout-board{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.weathers{
    margin:0.5em;
}

.workouts{
    margin: 0.5em;
    max-width: 30%;
}

.col{
    text-align: center;
}