html {
  background-color: #1d2227;
  color: white;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

h1 {
  font-size: 18px;
  margin: 0;
  width: 400px;
  margin-bottom: 30px;
}

table {
  width: 400px;
  /* 테두리 겹치기 해제 */
  border-collapse: collapse;
  /* 셀 사이의 간격 없애기 */
  border-spacing: 0;
}

td:nth-child(1) {
  width: 100px;
}

thead tr th {
  color: #4c505c;
  /* font-size: 13px; */
  text-align: left;
  padding: 5px 15px;
}

tbody tr {
  border-bottom: 1px solid #4c505c;
}

tbody tr:hover {
  background-color: #31353f;
}

tbody tr td {
  padding: 15px;
}

tbody tr:nth-last-child(1) {
  border-bottom: none;
}
