#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login div {
  margin: 25px 0;
}

.login div label {
  display: inline-block;
  margin-right: 10px;
  width: 100%;
  font-size: 0.9em;
}

.login div input {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login button {
  font-size: 0.9em;
  background-color: #eee;
  width: 100%;
  padding: 13px 0;
}